<form [formGroup]="form" (ngSubmit)="submitAnswers()">
  <ng-container *ngIf="questions">
    <ng-container *ngFor="let question of questions; let i = index">
      <mat-card>
        <mat-card-header>
          <mat-card-title [formControlName]="'question' + i">{{
            question.question
          }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <mat-button-toggle-group
            [formControlName]="'selectedAnswer' + i"
          >
            <mat-button-toggle
              *ngFor="let answer of question.answers! | shuffle"
              [value]="answer"
              >{{ answer }}</mat-button-toggle
            >
          </mat-button-toggle-group>
        </mat-card-actions>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="form.valid">
      <button type="submit" mat-raised-button>submit</button>
    </ng-container>
  </ng-container>
</form>
