<form [formGroup]="form" (ngSubmit)="submitQuizItems()">
  <ng-container formArrayName="quizItems">
    <ng-container *ngFor="let quizItem of quizItems; let i = index">
      <mat-card [formGroupName]="i">
        <mat-card-header>
          <mat-card-title [innerHTML]="quizItem.question"> </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <mat-button-toggle-group [formControlName]="'selectedAnswer'">
            <mat-button-toggle *ngFor="let answer of quizItem.answers! | shuffle" id="answerButton" [value]="answer">
              <span [innerHTML]="answer"> </span>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-actions>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="form.valid">
      <button type="submit" mat-raised-button id="submitBtn">Submit</button>
    </ng-container>
  </ng-container>
</form>
