<h1>Quiz Maker</h1>

<mat-form-field>
  <mat-label>Select a category</mat-label>
  <mat-select id="categorySelect">
    <mat-option *ngFor="let category of categories" [value]="category.id">
      {{ category.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Select difficulty</mat-label>
  <mat-select id="difficultySelect">
    <mat-option
      *ngFor="let difficulty of difficulties"
      [value]="difficulty.id"
    >
      {{ difficulty.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button id="createBtn">Create</button>
